<template>
    <div class="form-container">

        <div class="ipera-overlay-container">
            <a href="#" class="ipera-overlay-close-button"></a>

            <form @submit.prevent="checkCode" id="social-access-code-form" autocomplete="off">

                <div class="please-wait-text" v-if="redirecting">
                    {{ text.please_wait }}
                </div>

                <div v-if="error_message" class="alert alert-danger">
                    {{ error_message }}
                </div>

                <div v-if="message" class="alert alert-warning">
                    {{ message }}
                </div>

                <div class="form-group" :class="{'has-error': form.errors.has('code')}">
                    <label for="register-code">{{ text.access_code }}</label>
                    <input type="text" class="form-control" id="register-code" :placeholder="text.access_code" required v-model="form.code">
                    <span class="help-block">{{ form.errors.get('code') }}</span>
                </div>

                <div class="form-group">
                    <button :disabled="form.busy || redirecting" type="submit" class="btn submit-button" id="login-form-submit-button">{{ text.login }}</button>
                </div>

                <div v-if="resend_enabled" class="form-group">
                    <button @click="resend " :disabled="form.busy || redirecting" type="button" class="btn submit-button" id="login-form-resend-button">{{ text.resend_access_code }}</button>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: "",
            error_message: "",
            resend_enabled: false,
            redirecting: false,
            form: new SparkForm({
                code: "",
            }),
        }
    },

    props: {
        text: {
            type: Object,
            default() {
                return {
                    please_wait: 'Please wait',
                    login: 'Login',
                    access_code: 'Access code',
                    resend_access_code: 'Resend access code',
                }
            }
        }
    },

    methods: {
        redirect(response) {
            this.message = "";
            this.error_message = "";
            this.redirecting = true;
            $(response.form).appendTo('body').submit()
        },

        checkCode() {
            Spark.post('check-access-code', this.form).then(response => {
                this.message = response.message;
                this.error_message = response.error_message;

                if (response.redirect) {
                    this.redirect(response);
                }
            });
        },
    }
};

</script>