.affix {
  left: 15px;
  right: 15px;
  top: 50px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 10px 15px;
  z-index: 800;
}

.sidebar-collapse .affix {
  z-index: 840;
}

@media (min-width: 768px) {
  .affix {
    left: $sidebar-full-width;
    top: 60px;
    border-top: 0;
  }

  .sidebar-collapse .affix {
    left: $sidebar-collapsed-width;
  }
}