.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  display: block;
  margin-bottom: 25px;
  position: relative;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);

  .card-block {
    padding: 15px;
  }

  .card-title {
    font-size: 15px;
  }
}

.card {
  .info-box-stats {
    float: left;
    margin-top: 5px;

    p {
      font-size: 28px;
      margin-bottom: 14px;
      font-weight: 300;
    }

    span.info-box-title {
      display: block;
      font-size: 13px;
      margin-bottom: 10px;
    }

  }

  i {
    color: #888;
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 25px;
  }

  .counter {
    font-size: 28px;
    font-weight: 300;
  }
}