label.required:after {
  color: #c00;
  content: ' *';
  display: inline;
}

.input-numeric {
  text-align: right;
}

.input-group-with-select {
  input.form-control {
    border-right: 0;
    width: 60%;
  }

  select.form-control {
    width: 40%;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
}