body {
  background-color: $bgColor;
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  position: relative;
}

.nav-tabs {
  margin-bottom: $padding;
}

.margin-bottom {
  margin-bottom: $padding;
}

.margin-top {
  margin-top: $padding;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

[v-cloak] {
  display: none
}

.pagination-text {
  float: right;
  margin: 20px 0;
  padding: 6px 12px
}

#loading {
  background: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  display: inline-block;
  left: 50%;
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 120px;
  z-index: 1100;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1)
}

#snippets ul{
  margin-bottom: 20px !important;
}