.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-item {
  display: block;
  margin: 5px 0;
  padding: 4px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #E7E7E7;
  background: #FAFAFA;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.placeholder{
  margin: 5px 0;
  padding: 0;
  min-height: 51px;
  background: #f2fbff !important;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-content {
  padding: 12px 8px 0 0;
}
.handle {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 5px;
  padding: 6px 12px;
  cursor:move;
}

.ui-sortable-helper {
  background: #fff;
  border: 1px solid #E7E7E7
}