#tab-media-library {
  min-height:400px;

  a.thumbnail {
    cursor: pointer;
  }
}

.selected-media {
  border-color: $brand-primary;
}


.selected-media-details {
  .selected-thumbnail {
    height: 100px;
    margin-bottom: 10px;
  }

  .selected-filename {
    font-weight: bold;
  }
}