// modals

.modal-content {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0;
}

.modal-header {
  border-bottom: 1px solid #ccc;
  padding: $padding;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 55px;
  font-size: 14px;
  font-weight: 600;
}

.modal-body + .modal-footer, .modal-header + .modal-body {
  padding: $padding;
}

.modal-body {
  position: relative;
  padding: $padding;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-footer {
  position: relative;
  padding: $padding;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
}

.modal-dialog.modal-full {
  width: 98%;
}