$facebookGray: #9197a3;

#facebook-preview {
  border: 1px solid #dedede;
  font-family: Helvetica, Arial, sans-serif;
  padding: 12px;
  width: 494px;

  .header {
    margin-bottom: 11px;
  }

  .link {
    color: #3b5998;
  }

  .user-info {
    color: $facebookGray;
    display: table-cell;
    font-size: 14px;
    vertical-align: top;
  }

  .info {
    color: $facebookGray;
    font-size: 12px;
  }

  .message {
    margin-bottom: 10px;
  }

  .avatar {
    float: left;
    height: 40px;
    margin-right: 8px;
    width: 40px;
  }

  .link-preview {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
    width: 470px;
    height: 158px;
  }

  .link-details {
    font-size: 12px;
    float: left;
    height: 132px;
    margin: 10px 12px;
    position: relative;
    width: 288px;
  }

  .title {
    font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .description {
    line-height: 16px;
    margin-bottom: 15px;
    max-height: 80px;
    overflow: hidden;
  }

  .caption {
    color: $facebookGray;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
  }
}