.main-header .navbar {
  margin-left: 0 !important;
}

.main-sidebar {
  background-color: #222d32;
  padding-top: 20px;
}

.sidebar-menu {
  & > li {
    & > a {
      border-left: 3px solid transparent;
    }

    &:hover > a, &.active > a{
      color: #ffffff;
      background: #1e282c;
      border-left-color: #dd4b39;
    }

    & > .treeview-menu {
      margin: 0 1px;
      background: #2c3b41;
    }
  }
}


.sidebar {
  a {
    color: #b8c7ce;

    &:hover {
      text-decoration: none;
    }
  }
}

.treeview-menu > li > a {
  color: #8aa4af;
}

.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  color: #ffffff;
}