// navbar

.navbar-default {
  background: #FFF;
  padding: 0;
  //height: 60px;
  border-radius: $borderRadius;
  border: none;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 5px -5px;

  a {
    color: #5f5f5f;
  }

  .navbar-brand {
    //background: $navbarBrandColor;
    //color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;

    &:hover,
    &:focus {
      //background-color: $navbarBrandColor;
      //color: #fff;
    }
  }

  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover {
    background-color: $menuHoverColor;
  }

}

.navbar-toggle {
  color:#333;
}

.navbar-header {
  .sidebar-toggle {
    float: none;
  }
}

@media (max-width: 767px) {
  .main-sidebar, .left-side {
    padding-top: 0 !important;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: $menuHoverColor;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

// buttons
.btn {
  border-radius: $borderRadius;
  outline: none !important;
}

.btn-default {
  color:#333 !important;}

.col-avatar {
  width: 32px
}

th {
  &.col-bool {
    width: 32px
  }

  &.col-datetime {
    width: 130px;
  }

  &.col-actions {
    width: 120px;
  }
}

td.col-actions {
  text-align: right;
}

//
.icon-circle {
  background-color:#ccc;
  color: #fff;
  border-radius:50%;
  height: 24px;
  width: 24px;
  padding-top: 5px;
  text-align: center;

  &.fa-twitter {
    background-color: #32CCFE;
  }

  &.fa-google-plus {
    background-color: #CF3D2E;
  }

  &.fa-linkedin {
    background-color: #0085AE;
  }

  &.fa-facebook {
    background-color: #3C599F;
  }

  &.fa-female {
    background-color: #e03078;
  }

  &.fa-male {
    background-color: #3278fe;
  }

  &.fa-question {
    background-color: #ccc;
  }

}


// forms
.form-control {
  border-radius: $borderRadius;
}

.guest-list .avatar {
  border-radius: 64px;
  width: 32px
}



// tabs

.nav-tabs {
  margin-bottom: 15px;
}

// select

.select2-container--bootstrap .select2-results__group {
  background-color: #eee;
  color:#666;
  font-size:inherit;
}

.select2-container--bootstrap .select2-results__option .select2-results__option {
  padding: 6px 12px 6px 32px;
}

.heading {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.stacked-tabs {
  .list-group-item.active {
    color: inherit;
    background-color: inherit;
    border-color: #ddd;
    border-left: 5px solid #337ab7;
    padding-left: 10px;

    &:hover {
      background-color: #f5f5f5;
    }
  }

}

.tooltip {
  position: fixed;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 600px;
}
.CodeMirror-foldmarker {
  font-family: arial;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #555;
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}