// colors
$colorWhite: #fff;
$colorBlack: #22262f;
$colorPink: #ed5564;
$colorOrange: #fb6e52;
$colorGreen: #48cfae;
$colorBlue: #50c1e9;

$navbarBrandColor: #EA4E3D;

$bgColor: #F1F4F9;
$footerBgColor: #fff;
$menuHoverColor: #f5f5f5;

$sidebar-full-width: 245px;
$sidebar-collapsed-width: 65px;

$borderRadius: 0;
$padding: 20px;