// panels

.panel {
  border-radius: $borderRadius;
  margin-bottom: 25px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .1);

  // panel-heading
  .panel-heading {
    //padding: $panelPadding;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    border-bottom: 1px solid #ddd;
    height: 55px;
    font-size: 14px;
    font-weight: 600;

    .panel-title {
      font-size: 14px;
      float: left;
      margin: 0;
      padding: $padding / 2 0 0 0;
      font-weight: 600;
    }

    .panel-control {
      float: right;
    }

    .panel-control a.btn {
      text-decoration: none;
      margin-right: 5px;
      font-size: 14px;
      float: left;
    }

  }

  .panel-body {
    position: relative;
    padding: $padding;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.panel-default {
  background: $colorWhite;
}

.btn {
  border-bottom-width: 2px;
  //box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}