<template>
    <div :id="id">
        <slot></slot>
    </div>
</template>

<style>
.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: #FFF;
  margin-bottom: 20px;
  padding: 20px;
}

.dz-drag-hover {
  border-style: solid;
}
</style>

<script>
var Dropzone = require('dropzone');
Dropzone.autoDiscover = false

export default {
    data: () => ({
        dropzone: null
    }),

    props: {
        id: {
            type: String,
            required: true
        },

        url: {
            type: String,
            default: 'media'
        },
    },

    mounted() {
        this.initDropzone();
    },

    methods: {

        initDropzone() {
            var element = document.getElementById(this.id);

            this.dropzone = new Dropzone(element, {
                url: this.url,
                params: {
                    _token: App.csrfToken
                },
                headers: {
                    'Authorization': 'Bearer ' + App.user.token
                },
                maxFilesize: 1, // MB
                acceptedFiles: "image/jpeg,image/png",
                clickable: '.trigger-dropzone',
                addedfile: function(file) { }
            });

            var vm = eventHub;

            this.dropzone.on('addedfile', function (file) {
                vm.$emit('vdropzone-fileAdded', file);
            });

            this.dropzone.on('removedfile', function (file) {
                vm.$emit('vdropzone-removedFile', file);
            });

            this.dropzone.on('success', function (file, response) {
                vm.$emit('vdropzone-success', file, response);
            });

            this.dropzone.on('error', function (file, error, xhr) {
                vm.$emit('vdropzone-error', file, error, xhr);
            });

            this.dropzone.on('sending', function(file, xhr, formData){
                vm.$emit('vdropzone-sending', file, xhr, formData);
            });

            this.dropzone.on('totaluploadprogress', function(progress){
                vm.$emit('vdropzone-totaluploadprogress', progress);
            });

            this.dropzone.on('complete', function(){
                vm.$emit('vdropzone-complete');
            });

        },


    }
};
</script>