.ipera-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  background-color: rgba(0, 0, 0, .5);
}

.ipera-overlay-container {
  //display: none;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 100001;
  color: #444;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  a.ipera-overlay-close-button {
    cursor:pointer;
    width: 40px;
    min-height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    text-decoration: none;

    &:before {
      color: #fff;
      content: '\00D7';
      display: block;
      font-size: 36px;
      font-weight: 600;
      line-height: 36px;
      padding: 0;
      margin: 0;
    }
  }

}

#social-access-code-form {
  background: #fff;
  margin: 10% auto 0;
  padding: 20px;
  width: 90%
}

@media only screen and (min-width : 768px) {
  #social-access-code-form {
    width:40%;
  }
}